/ActionT/*
/ActionT/*.classpath
/ActionT/*.project
/ActionT/*.properties
/appcompat_v7/*
/appcompat_v7/*.classpath
/appcompat_v7/*.project
/appcompat_v7/*.properties
/appcompat_v7/gen
/appcompat_v7/.classpath
/appcompat_v7/.project
/appcompat_v7/project.properties
project.properties
bin
gen
.classpath
.project
/TestActionBarNavigationDrawer/bin
/TestActionBarNavigationDrawer/gen
/TestActionBarNavigationDrawer/.classpath
/TestActionBarNavigationDrawer/.project
/TestActionBarNavigationDrawer/project.properties
