<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.no.entercard.coopmedlem"
    android:versionCode="2"
    android:versionName="2.1.0.AplhaTest.02" >

    <!-- 2.0 - Pocahontas COOP Norway - Android -->

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="false" />

    <compatible-screens>
        <screen
            android:screenDensity="480"
            android:screenSize="normal" />
    </compatible-screens>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- WiFi Permission is required for Encap SDK for its internal call -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name="com.no.entercard.coopmedlem.ApplicationEx"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.no.entercard.coopmedlem.SplashScreenActivity"
            android:configChanges="locale"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- <receiver android:name="com.entercard.coopmedlem.LanguageChangeReceiver" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.LOCALE_CHANGED" /> -->


        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <activity
            android:name="com.no.entercard.coopmedlem.ActivateAppActivity"
            android:configChanges="keyboardHidden|locale"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Coopmedlem" >
        </activity>
        <activity
            android:name="com.no.entercard.coopmedlem.HomeScreenActivity"
            android:configChanges="keyboardHidden|locale"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Coopmedlem"
            android:uiOptions="none"
            android:windowSoftInputMode="adjustUnspecified" >
        </activity>
        <activity
            android:name="com.no.entercard.coopmedlem.AllAccountsActivity"
            android:configChanges="keyboardHidden|locale"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Coopmedlem" >
        </activity>
        <activity
            android:name="com.no.entercard.coopmedlem.EnterPINCodeActivity"
            android:configChanges="locale"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Coopmedlem"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>
        <activity
            android:name="com.no.entercard.coopmedlem.CreditLineIncreaseActivity"
            android:configChanges="locale"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Coopmedlem" >
        </activity>
        <activity
            android:name="com.no.entercard.coopmedlem.CustomerServiceScreen"
            android:configChanges="locale"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Coopmedlem" >
        </activity>
        <activity
            android:name="com.no.entercard.coopmedlem.DisputeTransactionActivity"
            android:configChanges="locale"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Coopmedlem" >
        </activity>
        <activity
            android:name="com.no.entercard.coopmedlem.EmploymentActivity"
            android:configChanges="locale"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Coopmedlem" >

            <!-- android:parentActivityName="com.entercard.coopmedlem.CreditLineIncreaseActivity" -->


            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>
    </application>

</manifest>